<%- include("template/cabecera") %>
  <main>
<!-- Foto introducción  -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/sede.jpg" alt="Se observa una imagen de una figurita de anime" title>
          <div class="container_1">
            <div class="carousel-caption text-left">
              <h1>¡Bienvenido a la junta de andalucía!</h1>
              <h4>Encontrarás toda la información necesaria de nuestro programa.</h4>
            </div>
          </div>
        </div>
      </div>
      <hr>
  <!-- Opciones -->
  <hr class="text-white-50">
  <div class="row m-3">
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="/images/solicitante.jpg" alt="Figurita de anime de una chica" title>
      <div class="card-body">
        <h4 class="text-center text-success">Solicitante</h4>
        <p class="card-text text-success">Contamos con todo tipo de figuritas, desde funkos a diseños realistas de series o animes.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-success btn-sm" href="/solicitante">Mirar</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="/images/voluntario.png" alt="Se visualiza un juego de un anime" title>
      <div class="card-body">
        <h4 class="text-center text-success">Voluntario</h4>
        <p class="card-text text-center">Contamos con juegos de todo tipo, desde juegos de mesa a juegos de cartas de todas las temáticas.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-success btn-sm" href="/voluntario">Mirar</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="/images/accion.jpg" alt="Se visualiza un manga de un anime" title>
      <div class="card-body">
        <h4 class="text-center text-success">Acción</h4>
        <p class="card-text text-center">Contamos con todo tipo de mangas y puedes encontrar todas las categorías que desees.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-success btn-sm" href="/accion">Mirar</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="/images/solicitudAcceso.png" alt="Figurita de anime de una chica" title>
      <div class="card-body">
        <h4 class="text-center text-success">Solicitud Acceso</h4>
        <p class="card-text text-center">Contamos con todo tipo de prendas de ropa de series o animes de todos los gustos.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-success btn-sm" href="/solicitudAcceso">Mirar</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

  </main>
  
  <%- include("template/footer") %>